

/* element selectors */

body {
    /* font-family: "ABeeZee", sans-serif; */
    font-family: "Krub", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 30px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

p {
    font-size: 20px;
}

article p {
    font-size: 18px;
}

header {
    text-align: center;
}

/* navbar styles */
#page-btns {
    margin-left: auto;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: inline-block;
    padding: 0px 40px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a:hover::before {
    content: url('img/star2.svg'); 
    position: absolute;
    left: 5px;
}

nav ul li a:hover::after {
    content: url('img/star2.svg'); 
    position: absolute;
    right: 5px;
}

#page-btns a:last-child {
    margin-right: 20px;
}

/* homepage styles */
#bridget-galang {
    margin-right: auto;
    margin-left: 20px;
}

.home {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding: 50px;
    max-width: 1100px;
    min-width: 200px;
    justify-content: space-between; 
}

#home {
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-image: url(img/seattle-416065_1920.jpg);
    color: #fff;
}

#headshot {
    height: 300px;
    border-radius: 50%;
    margin: 0px 50px;
    border: 2px solid black;
}

/* about me styles*/
#aboutme {
    background-image: url(img/keyboard.jpg);
    background-size: cover;
    width: 100%;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

#about-me-content {
    max-width: 1200px;
}

.main-article {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    max-width: 100%;
    padding: 20px 50px;
}

.main-header {
    font-size: 40px;
    margin-bottom: 50px; 
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
    height: 50px;
    margin: 10px;
}

.bio-img {
    height: 600px;
}

/* will make text responsive to screen size soon! */
.image-with-text {
    display: flex;
    align-items: flex-start;
}

.image-container {
    flex: 0 0 40%;
}

.text-container {
    flex: 0 0 60%;
    margin-right: 20px;
}

.text-container p {
    margin-top: 0;
}

/* experience styles */

#experience {
    /* min-height: 100vh; */
    /* display: block; */
    padding: 100px;
}

.experience-article {
    flex: 0 1 45%;
    align-items: center;
    text-align: center;
}

.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience-content p {
    margin-top: 5px;
    font-size: 16px;
}

/* tech-stack styles */

#skills-bg {
    background-color: #1E1E1E;
    /* height: 100vh; */
    padding: 100px;
}

#skill-div {
    color: #fff;
    padding: 20px 50px;
    text-decoration: none;
}

.skill-list {
    margin:20px 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    display: block; 
    margin-bottom: 0;
    height: 70px;
}

.centered-work {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

/*portfolio styles*/
.container {
    margin: 100px 400px;
    justify-content: space-between;
}

.portfolio-class {
    margin-bottom: 80px;
}

.townTalk {
    height: 400px; /*fix hardcode */
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.project-container {
    display: flex;
    flex-direction: row;
}


.project-slideshow {
    position: relative;
    text-align: center;
    margin-right: 30px;
    width: 5000px;
}



.project-slideshow button {
    background-color: #000;
    color: #fff;
    height: 30px;
    width: 30px;
    font-weight: 700;
    border: none;
    border-radius: 50%;
}

/* will make text responsive to screen size soon! */
.portfolio-class ul li {
    list-style: none;
}

.project-description h2 {
    margin: 0;
}

.portfolio-class a::before {
    content: url('img/black-star.svg'); 
    display: inline-block;
    margin-right: 5px;
}

.portfolio-class a:hover {
    font-weight: bold;
}
/* footer styles */

footer {
    bottom: 0;
    left: 0;
    background-color: black;  
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.social-icon {
    height: 30px;
    margin: 6px;
}

footer a:last-child {
    margin-right: 20px;
}

